<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WEB02</display-name>
  <filter>
    <filter-name>FirstFilter</filter-name>
    <filter-class>com.yuantu.web.filter.FirstFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FirstFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>SD</servlet-name>
    <servlet-class>com.yuantu.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SD</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RS</servlet-name>
    <servlet-class>com.yuantu.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RS</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ML</servlet-name>
    <servlet-class>com.yuantu.web.servlet.MgLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ML</servlet-name>
    <url-pattern>/MgLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MIndex</servlet-name>
    <servlet-class>com.yuantu.web.servlet.MgIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MIndex</servlet-name>
    <url-pattern>/MgIndex</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Ms</servlet-name>
    <servlet-class>com.yuantu.web.servlet.MgShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ms</servlet-name>
    <url-pattern>/MgShow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DLs</servlet-name>
    <servlet-class>com.yuantu.web.servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DLs</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>USS</servlet-name>
    <servlet-class>com.yuantu.web.servlet.UpdateShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>USS</servlet-name>
    <url-pattern>/UpdateShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>USS</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
</web-app>